@inherits AIRpgAgents.Components.Layout.RpgComponentBase
@page "/buildWorld"
<RadzenRow Gap="0px">
    <RadzenColumn SizeLG="6" Style="position:relative">
        @if (_isStarted)
        {
            <RadzenCard Style="padding:1px" Variant="Variant.Text" >
                <RadzenButton Size="ButtonSize.ExtraSmall" Icon="support_agent" Text="Edit Agent" Click="@(() => ShowAgent("WorldAgent"))"></RadzenButton>
                <ChatView ResetOnClose="false" AllowRemove=false ViewId="world" Height="80vh" @ref=_chatView></ChatView>
            </RadzenCard>

            <RadzenCard Style="position:relative" Variant="Variant.Text">
                <UserInput IsRequired="@(false)" ButtonLabel="Send" HelperText="User Input" UserInputSubmit="HandleRequest" IsBusy="_isBusy" CancelRequest="Cancel"></UserInput>
            </RadzenCard>
        }
        else
        {
            <div id="start-agent-overlay">
                <button class="rpg-button" @onclick="StartAgent">
                    <span class="button-text">Begin World Builder Agent</span>
                </button>
            </div>
        }
    </RadzenColumn>
    <RadzenColumn SizeLG="6" Style="max-height:100%; overflow-y:auto">
        <WorldDetails World="_worldState"></WorldDetails>
    </RadzenColumn>
</RadzenRow>
