@inherits AIRpgAgents.Components.Layout.RpgComponentBase
@page "/createCharacter"
<RadzenRow Gap="0px">
    <RadzenColumn SizeLG="6" Style="position:relative">
        @if (_isStarted)
        {
            <RadzenCard Style="padding:2px" Variant="Variant.Text">
                <RadzenButton Size="ButtonSize.ExtraSmall" Icon="support_agent" Text="Edit Agent" Click="@(() => ShowAgent("CharacterAgent"))"></RadzenButton>
                <ChatView ResetOnClose="false" AllowRemove=false ViewId="character" Height="75vh" @ref=_chatView></ChatView>
            </RadzenCard>

            <RadzenCard Style="position:relative" Variant="Variant.Text">
                <UserInput IsRequired="@(false)" ButtonLabel="Send" HelperText="User Input" UserInputSubmit="HandleRequest" IsBusy="_isBusy" CancelRequest="Cancel"></UserInput>
            </RadzenCard>
        }
        else
        {
            <div id="start-agent-overlay">
                <button class="rpg-button" @onclick="StartAgent">
                    <span class="button-text">Begin Character Creation Agent</span>
                </button>
            </div>
        }
    </RadzenColumn>
    <RadzenColumn SizeLG="6" Style="max-height:80vh; overflow-y:auto">
        <CharacterSheetView></CharacterSheetView>
    </RadzenColumn>
</RadzenRow>